<footer class="footer">
  <small>
    <a href="#">Microblog</a>
    by Vitaliy Grinyov 2016
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
      <li><a href="http://weblog.rubyonrails.org/news/">News</a></li>
    </ul>
  </nav>
</footer>