<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Microblog", '/', id: "logo" %>
      <nav>
        <!--<ui class="nav pull-right">-->
        <ui class="nav nav-pills pull-right">
          <li><%= link_to "Home", '/' %></li>
          <li><%= link_to "Help", 'help' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ui>
      </nav>
    </div>
  </div>
</header>